body{
    overflow-x: hidden;
    background-color: rgb(87, 71, 71);
}
/* .navbar{
    background-color: blueviolet;
} */
.card{
    -webkit-columns: 1 50px;
    -moz-columns: 1 50px;
    columns: 1 50px;
    border-radius: 5px;
    background-color: rgb(68, 59, 59);
    padding: 25px;

    -moz-box-shadow: 1px 2px 4px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,.5);
    box-shadow: 1px 2px 4px rgba(0,0,0,.5);;
}
.card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11),
      0 24px 46px var(--box-shadow-color);
  }
.price{
    padding-top: 50px;
    /* padding-left: 120px; */
    color: #01434f;
}
.pricecolor{
    color: #b12704;
}
.rating{
    /* color: rgb(36, 40, 97); */
    position: absolute;
    padding: 2px 7px;
    border-radius: 14px;
    font-size: 16px;
    background-color: #26a541;
    vertical-align: baseline;
}
.count{
    display: inline-block;
    width: 0.500em;
    padding-left: 100px;
    padding-top: 24px;
    font-size: 25px;
    color: #007185;
}
.decoration a {
    text-decoration: none;
    color: black;
}
.decoration a :hover{
    color: black;
}
.imageDetail :hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11),
      0 24px 46px var(--box-shadow-color);
}
.imageDetail img{
    width: 80%;
}
.carousel-item img {
  height: 300px;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
}

/* ///////////////////////////////////////////////////////////////////// */

.footer{
	padding: 60px 0;
    width: 100%;
    background: #4a4551;
    color: #fff;
}
.footer-title{
	position: relative;
    color: #fff;
	font-size: 24px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #4e4e4e;
}
.footer-title:after{
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	width: 30px;
	height: 4px;
	background: #ff304d;
}
.footer-links a{
	padding: 10px 0;
	border-bottom: 1px solid #404040;
	color: #fff;
	display: block;
	transition: color 0.5s ease-in-out;
   text-decoration:none;
}
.footer-links a:hover{
	color: #ff304d;
}
.footer-social-links li{
	display: inline-block;
}
.footer-social-links a{
	width: 40px;
	height: 40px;
	font-size: 16px;
	float: left;
	margin-right: 10px;
	padding: 10px;
	border: 1px solid #404040;
	border-radius: 50px;
	text-align: center;
	/* color: rgb(15, 12, 12); */
	line-height: 1;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
  background: #fff;
}
.footer-social-links a:hover{
	background: #ff304d;
    color: black;
}
/* g. Footer bottom section */
.footer-bottom{
	width: 100%;
	padding-bottom: 25px;
	text-align: center;
	color: #fff;
	background: #4a4551;
}